name: Prebuild DevContainer

on:
  push:
    branches: [main]
    paths:
      - ".devcontainer/**"
      - ".github/workflows/build-devcontainer.yml"
  workflow_dispatch:

jobs:
  prebuild:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pre-build dev container image
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/${{ github.repository }}/devcontainer
          push: always
          cacheFrom: ghcr.io/${{ github.repository }}/devcontainer
